.imageChanger.psv-button {
	padding: 0 !important;
	width: 32px !important;
	height: 32px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.6) !important;
	border-radius: 4px;
    color: #fff;
}

.imageChanger.psv-button .psv-button-label {
	font-size: 18px !important;
	line-height: 1 !important;
	padding: 0 !important;
      color: #fff;
}
.marginRight {
	margin-right: 42.5%;
}
.marginLeft{
    margin-left: 13px;
}
