.panoram{
    width: 100vw;
    z-index: 0;
    position: relative;
}
.map{
    position: absolute;
    top:50%;
    right:0;
    z-index: 10;
    transition: transform 0.4s ease;
    transform-origin: right center;
    transform: perspective(600px) rotateY(-60deg) translateY(-60%);
    will-change: transform;

}
.map:hover{
    transform: perspective(600px) rotateY(0deg) translateY(-60%);
}
