.dormitoryContainer {
	width: 160px;
	height: 260px;
	position: relative;
}

.svgWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.dormitorySvg {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: rotate(7.5deg);
}

.pointsContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: all 0.5s;
}
.pointsContainer:hover{
	opacity: 1;
}

.pointWrapper {
	position: relative;
}

.point {
	position: absolute;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.point:hover {
	transform: scale(1.2);
}

.point img {
	width: 14px;
	height: 14px;
}

.info {
 	width: 100px;
    height: 50px;
    border-radius: 3px;
    z-index: 14;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 2px;
    font-size: 10px;
    color:#212153;
    border: 0.2px solid #a6a6a7;
    box-shadow: 0px 0px 2px;
    position: absolute;
    background-color: #fffefe;
}
