
.map-container{
    width: 160px;
    height: 418px;
    position: relative;

}

.map-container:hover .floors{
    opacity: 1;
    pointer-events: auto;
}
.map-container:hover .points{
    opacity: 1;
    pointer-events: none;
}
.floors, .points{
    opacity: 0;
      pointer-events: none;
    transition: all 0.5s;
}
svg{
    pointer-events: none;
}
svg path{
    pointer-events: visiblePainted;
}
.lobby svg{
    width: 64px !important;
}
.h svg{
    width: 98px !important;
}
.g svg{
    width: 105px !important;
}
.block svg{
  position: absolute;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition:  0.3s;
  transform: rotate(7.5deg);
  fill: #f3efef;
  stroke: #212153;
}

.block>svg:hover{
  transform: rotate(7.5deg);
}