
.map-container{
    width: 190px;
    height: 418px;
    position: relative;
    background-color: aliceblue;
}
svg{
    pointer-events: none;
}
svg path{
    pointer-events: visiblePainted;
}
.lobby svg{
    width: 64px !important;
}
.h svg{
    width: 98px !important;
}
.g svg{
    width: 105px !important;
}
.block svg{
  position: absolute;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition:  0.3s;
  transform: rotate(7.5deg);
  fill: #fff;
  stroke: black;
}

.block>svg:hover{
  transform: rotate(7.5deg);
  fill: aqua;
}